body {
	background: maroon;
	font-family: Century Gothic;
	text-align: center;
}
.menu  {
    overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 2fr;
	border-bottom: .5px #000 solid;
}
.hahaha{
	background:#FBBB10;

}
.img{
	background:#FBBB10;
	color:#EE8E0B;
	font-family:Brush Script MT;
	font-size:40px;
}
.menu a {
    float: left;
	color:#EE8E0B;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	margin-left: 50px;
	margin-right: 50px;
	
}
.menu a:hover {
    color: gray;
}

.hd {
	background: url("../images/hdres.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	padding: 400px;
}
 .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
	text-align: center;
}
.food {
	background:#FBBB10;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-top: .5px #000 solid;
	
}


.nba2 {
	margin-right: 520px;
	font-family:Brush Script MT;
	font-size: 30px;
	text-align: left;
	color:#EE8E0B;
}
.news1 {
  position: relative; 
  max-width: 800px; 
  margin: 0 auto; 
}
.new1 {
	position: relative; 
	max-width: 390px; 
}
.new4 {
	position: absolute; 
	bottom: 0px; 
	background: rgba(0, 0, 0, 0.5); 
	color: #EE8E0B; 
	width: 100%; 
	padding: 20px;
}
.news2 {
  position: relative; 
  max-width: 390px; 
}
.news5 {
  position: absolute; 
  bottom: 0px; 
  background: rgba(0, 0, 0, 0.5); 
  color: #EE8E0B; 
  width: 100%; 
  padding: 20px;
}
.news3 {
	position: relative; 
	max-width: 390px; 
}
.news6 {
	position: absolute; 
	bottom: 0px; 
	background: rgba(0, 0, 0, 0.5); 
	color: #EE8E0B; 
	width: 100%; 
	padding: 20px;
}
.news {
	background:#FBBB10;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.main {
	text-align: right;
	display: grid;
	grid-template-columns: 3fr 1fr;
	background: #FBBB10;
}
.box2{
	background:#FBBB10;
	color:#EE8E0B;
}
.box h5{
	color: #EE8E0B;
}
.box3 {
	margin-right: 90px;

}
.dessert{
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 3fr;
	background: #FBBB10;
	color:#EE8E0B;
	
}
.box6 h5{
	color: #EE8E0B;
}

.box5 {
	margin-left: 90px;
	
}
.box6{
	padding:20px;
}


.paa {
	border-top: .5px #000 solid;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 1.7;
}
.fa-facebook {
    background: white;
    color: black;
}
.fa-twitter {
    background: white;
    color: black;
}
.fa-youtube {
    background: white;
    color: black;
}
.fa-instagram {
    background: white;
    color: black;
}
.paa2 {
	margin-left: 50px;
	margin-top: 20px;
}
.last {
	background:#FBBB10;
	padding: 5px;
	color:#EE8E0B;
}
.last a{

	text-decoration: none;
}
.last a:hover {
	color: gray;
}
