body {
	background: maroon;
	font-family: Century Gothic;
	text-align: center;
}
.menu  {
    overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 2fr;
	border-bottom: .5px #000 solid;
	background:#BB2606;

}
.menu a {
    float: left;
    color: #D35A0B;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	margin-left: 50px;
	margin-right: 50px;
}
.menu a:hover {
    color: gray;
}
.haheha {
	background: url("../images/plate.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px;
	text-align: left;
	color:#D35A0B;
}

.hehahe { 
	margin-left: 20px
}	
.haheha h1{
	font-size: 40px;
	font-family:Brush Script MT;
}
.haheha p{
	font-size: 20px;
}
.
.top {
	font-size: 150px;
	text-align: left;
	background: #BB2606;
	color:#D35A0B;
	font-family:Brush Script MT;
}
.top p{
	font-size:50px;
	font-family:Brush Script MT;
}

.hello {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	color:#D35A0B;
	background:#BB2606;
}
.lala {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.kaka {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.jaja {
	display: grid;
	grid-template-columns: 1fr 1fr;	
}
.fave {
	font-size: 30px;
	text-align: left;
}
.favo {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background:#BB2606;
	color:#D35A0B;
}
.favo h4{
	color:#D35A0B;
}


.aaaa {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;

}
.eeee {
	margin-top: 0px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;

}
.oooo {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	margin-top: 3px;
}
.uuuu {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	margin-top: 3px;
}
.bloom p{
	font-size: 30px;
	text-align: center;
}
.run {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr
}

.takbo {
	background: url(../images/dess.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	padding: 300px;
}
.ffff {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.cccc {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.run{
	background:#F8AE3B;
}
.rrrr {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.mmmm {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.paa {
	border-top: .5px #000 solid;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 1.7;
}
.fa-facebook {
    background: white;
    color: black;
}
.fa-twitter {
    background: white;
    color: black;
}
.fa-youtube {
    background: white;
    color: black;
}
.fa-instagram {
    background: white;
    color: black;
}
.paa2 {
	margin-left: 50px;
	margin-top: 20px;
}
.last {
	background:#BB2606;
	padding: 5px;
	color:#D35A0B;
}
.last a{
	color: black;
	text-decoration: none;
}
.last a:hover {
	color: gray;
}